{% extends 'base.html.twig' %}

{% block title %}Landing - the BlackStone co{% endblock %}

{% block body %}
    <body>
        <section class="landing_slider vh-100 d-flex flex-column justify-content-start align-items-center">
            <span class="text-light display-5 pb-3 text-center fw-semibold">NEW EP "Old Grim Fairytales"</span>
            <div class="d-flex justify-content-center align-items-center">
                <img class="landing_slider-cd" src="assets/img/tbsc_cd.png" alt="">
                <a href="#"><img class="landing_slider-cover" src="assets/img/tbsc_cover.jpg" alt=""></a>
            </div>
            <span class="text-light fs-4 text-center fw-lighter pt-1">Digisleeve - Signed by the band - Limited Edition</span>
            <span class="text-light display-4 text-center fw-bold">ORDER NOW !</span>
            <video class="position-absolute top-0 star-0 w-100 h-100 object-fit-cover" src="assets/video/tbsc_landing_video.mp4" muted loop autoplay></video>
        </section>
        <section class="landing_infos_section vw-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-4 container">
                <h2 class="text-light text-center">Hi! We are the BlackStone co!</h2>
                <p class="text-light text-center fw-lighter">
                    We have been playing Loud Rock Metal with some prog atmospheres since 2015. and we come from the south of France!
                </p>
                <p class="text-light text-center fw-lighter">
                    So, Welcome to our official website Ladies and Gentlemen!
                </p>
                <p class="text-light text-center fw-lighter">
                    Everything you need to know about our music, our upcoming shows, us or more is here!
                </p>
                <p class="text-light text-center fw-lighter">
                    To stay connected with us, you can also follow us on :
                </p>
                <ul class="landing_social-list d-flex justify-content-center align-items-center p-0">
                    <li><a href="#"><img src="assets/img/tbsc_social_facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/tbsc_social_instagram.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/tbsc_social_youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/tbsc_social_spotify.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/tbsc_social_deezer.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/tbsc_social_apple.png" alt=""></a></li>
                </ul>
                <p class="text-light text-center fw-lighter pt-4">
                    Cheers! <br>
                    TBSC <br>
                    #louder
                </p>
            </div>    
        </section>
        <img class="divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_news d-flex flex-column justify-content-center align-items-center container">
            <h2 class="text-light fw-bold display-4 text-center">NEWS FROM THE HQ</h2>
            <a href="#"><img class="py-4 shadow" src="assets/img/tbsc_ogft_preview.jpeg" alt=""></a>
            <a href="#" class="text-light fw-bold text-decoration-none display-6 text-center">OLD GRIM FAIRYTALES - PRE ORDER NOW !</a>
            <span class="text-light fw-lighter text-center">November 25 2022</span>
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_album-releases">
            <h2 class="text-light fw-bold display-5 text-center">FEATURED <br> ALBUM RELEASES</h2>
            <div class="d-flex justify-content-center align-items-center flex-wrap gap-5 pt-5">
                <a href=""><img src="assets/img/tbsc_ogft_cover.jpeg" alt=""></a>
                <a href=""><img src="assets/img/tbsc_betrayed_cover.jpeg" alt=""></a>       
            </div>
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_last-video d-flex justify-content-center align-items-center flex-column">
            <h3 class="text-light text-center fw-bold display-6">Lasted Music Video</h3>
            <h2 class="text-light text-center fw-bold display-5">"LOST HORIZONS"</h2>
            <p class="text-light text-center fw-lighter">From our latest EP “Old Grim Fairytales” <br> -Directed by Benjamin Benoit-</p>
            <iframe class="py-3" src="https://www.youtube.com/embed/xuZ5uSOmNEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_next-show">
    
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_playlist">
            <h2 class="text-light fw-bold display-5 text-center">LISTEN TO OUR STUFF</h2>
            <p class="text-light fw-lighter text-center">A Spotify playlist made with love - just for you !</p>
            <iframe class="container mx-auto d-block my-5" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2GW4oZAYH5K4BaRxurX8g0?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
        <section class="landing_store">
            <h3 class="text-center text-light display-6 fw-lighter">The BlackStone Store</h3>
            <h2 class="text-center text-light display-4 fw-bold">ON SALE NOW !</h2>
            <div class="landing_store-products d-flex justify-content-center align-items-center gap-3 flex-wrap py-3">
                <a href="#"><img src="assets/img/tbsc_ogft_cd_mini.jpeg" alt=""></a>
                <a href="#"><img src="assets/img/tbsc_betrayed_cd_mini.jpeg" alt=""></a>
                <a href="#"><img src="assets/img/tbsc_tshirt_skinred_mini.jpeg" alt=""></a>
                <a href="#"><img src="assets/img/tbsc_tshirt_skull_mini.jpeg" alt=""></a>
            </div>
        </section>
        <img class=" divider py-5 mx-auto d-block" src="assets/img/tbsc_divider.jpeg" alt="">
    </body>
{% endblock %}